<strong>Olá, {{student}}!</strong>
<p>A Gympoint recebeu a sua duvida, abaixo está a nossa resposta :)</p>
<br>
Sua pergunta foi: <strong>{{question}}</strong>
<br>
RS: <strong>{{answer}}</strong>
<br>
A sua duvida foi respondida no dia {{answer_at}}
